body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-image: url("image/landing.png");
  }

.mainIntro {
    color: rgb(117, 116, 116);
    margin-top: 120px;
    margin-left: 50px;
}

.mainIntro h1 {
    font-size: 60px;
    font-weight: 550;
}

.mainIntro h5 {
    font-weight: 400;
    font-style: italic;
}

.btn-black {
    background-color: rgb(122, 152, 222);
    color: white;
    border: none;
    cursor: pointer;

}
.btn-black:hover {
    background-color: #606060;
}
.center-container{
    text-align: left;
    margin-left: 52px;
}