/*Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.logo{
  width:300px;
  margin: 20px;
}

body{
  margin: 0;
  padding:0;
  font-size:16px;
  font-weight:300;
  width:100%;
  background: #DBE2EF;
  font-family:'Roboto Condensed', sans-serif;
}

h2, h4, p{
  margin: 0;
}

.page {
  background:#fff;
  display:block;
  margin:3rem auto 3rem auto;
  position:relative;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  
  
}

.page[size="A4"]{
  width:21cm;
  height:29.7cm;
  overflow-x:hidden;
}

/*Top Section */
.top-section{
  color:#fff;
  padding:20px;
  height:130px;
  background-color: #112D4E;
}

.top-section h2{
  font-size:42px;
  margin-bottom:13px;
  font-weight:510;
}

.top-section .contact,
.top-section .address{
  width:50%;
  height:100%;
  float: left;
}

.top-section .address-content{
  max-width: 190px;
}

.contact .contact-content{
  max-width:250px;
  margin-top:66px;
  float:right;
}

/*Billing Invoice */
.billing-invoice{
  padding:20px;
  font-size:20px;
  margin-bottom:15px;
}

.billing-invoice .title{
  font-weight:600;
  float:left;
}

.billing-invoice .des{
  font-weight:400;
  float:right;
}

.billing-invoice .code{
  font-weight:200;
  text-align:left;
}

.billing-invoice .issue{
  text-align:left;
  font-size:15px;
}

/*Billing To*/
.billing-to{
  padding:20px;
}

.billing-to .title{
  font-weight:400;
  font-size: 20px;
  margin-bottom: 7px;

}

.billing-to .billing-sec{
  width:50%;
  font-size:18px;
  margin-bottom:25px;
}


.form .title{
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 20px;
}

.form .title b{
  margin-bottom: 80px;
  font-size: 20px;
}


.input-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add some spacing between each input field */
  
}

.input-field label {
  flex: 1; /* Make the label take up available space */
  
  margin-right: 10px; /* Add some spacing between label and input field */
  
}

.input-field input {
  flex: 2; /* Make the input field take up available space */
  margin-right: 30px;
  border-radius: 3px;
  border: 1px solid #989696;
  height: 22px;
  padding: 0 15px;
}

.details {
  margin-top: 20px;
  padding:20px 0;
}

.details .title {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 20px;
  display: block; /* Make the title a block element */
}

.details .input-field {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.details label {
  flex: 1;
  margin-right: 10px;
}

.details input {
  flex: 2;
  border-radius: 3px;
  border: 1px solid #989696;
  height: 72px;
  padding: 0 15px;
  width: 100%; /* Make the input field take up 100% width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


/*.details {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

*/

.sijil-fields .title{
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.third{
  background-color: #F9F7F7;
  border:1px solid #ccc;
  padding:15px;
  height:250px;
}

.sijil-fields .input-field{
  text-align: left;
  justify-content: center;
  line-height: 2;
  
}


.address{
  float: right;
  margin-bottom: 25px;
}

